<button class="btn btn--primary">btn btn--primary</button>
<a href="#" class="btn btn--primary">btn btn--primary</a>

<button class="btn btn--primary btn--block">btn btn--primary btn--block</button>
<a href="#" class="btn btn--primary btn--block">btn btn--primary btn--block</a>

<button class="btn btn--secondary">btn btn--secondary</button>
<a href="#" class="btn btn--secondary">btn btn--secondary</a>

<button class="btn btn--secondary btn--block">btn btn--secondary btn--block</button>
<a href="#" class="btn btn--secondary btn--block">btn btn--secondary btn--block</a>

<button class="btn btn--accent">btn btn--accent</button>
<a href="#" class="btn btn--accent">btn btn--accent</a>

<button class="btn btn--accent btn--block">btn btn--accent btn--block</button>
<a href="#" class="btn btn--accent btn--block">btn btn--secondary btn--block</a>